collector:
   address: 127.0.0.1:50051

hostname: example.com

probes:
 fping:
   probe: "fping"
   command: "/usr/sbin/fping"

 fping6:
   probe: "fping6"
   command: "/usr/sbin/fping6"


destinations:
  - address: 8.8.8.8
    probes:
      - fping

  - address: 8.8.4.4
    probes:
      - fping

  - address: a.fi
    probes:
      - fping

  - address: a.fi
    probes:
      - fping6
