collector:
   address: 127.0.0.1:50051

hostname: example.com

probes:
 fping:
   probe: "fping"
   command: "/usr/sbin/fping"

 fping6:
   probe: "fping"
   command: "/usr/sbin/fping6"

 dnstest:
   probe: "dns"
   query: "a.fi"
   queryType: "A"

destinations:
  - address: 8.8.8.8
    probes:
      - fping
      - dnstest

  - address: 8.8.4.4
    probes:
      - fping
      - dnstest

  - address: a.fi
    probes:
      - fping
      - dnstest

  - address: a.fi
    probes:
      - fping6
